mat-card {
  width: 400px;
  margin: auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

:host {
    display: flex;
    flex-grow: 1;

    .sign-up-button {
        margin-top: 20px;
    }
}