<mat-card>
    <mat-card-header><h1>Profile</h1></mat-card-header>
    <mat-card-content>
        <form
            [formGroup]="userData"
            (ngSubmit)="submit()"
        >
            <mat-form-field>
                <mat-label>Your name</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Your email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Enter new password</mat-label>
                <input matInput type="text" formControlName="newPassword">
            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="isLoading$ | async">Save changes</button>
        </form>
    </mat-card-content>
</mat-card>