:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    mat-card {
      width: 90vw;
      margin: auto;
      text-align: center;
    }

    mat-card-header {
        justify-content: center;
    }

    mat-form-field {
      display: block;
    }
}